@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    html,
    body,
    .layout {
        width: 100%;
        height: 100%;
    }

    body {
        font-family: 'Inter', 'Arial', sans-serif;
    }

    *::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    *::-webkit-scrollbar-thumb {
        background: #b1aeae;
    }

    *::-webkit-scrollbar-thumb:hover,
    *::-webkit-scrollbar-thumb:active {
        background: #bbbdc4;
    }

    *::-webkit-scrollbar-track,
    *::-webkit-scrollbar-track:hover,
    *::-webkit-scrollbar-track:active {
        background: #f1f1f1;
    }
}

@layer utilities {
    * {
        @apply outline-none ring-0;
    }
    *:not(input) {
        @apply outline-none ring-0 focus-visible:ring-2 focus-visible:ring-gray-50;
    }
}

.fadeSlide-enter-active,
.fadeSlide-leave-active {
    transition: transform 0.3s, opacity 0.3s;
}
.fadeSlide-enter-from {
    transform: translateY(-10px);
}
.fadeSlide-leave-to {
    transform: translateY(10px);
}